@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding-top: 80px;
    background: white;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    padding: 15px 5%;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 150px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li {
    display: inline;
    border-bottom: 1px solid black;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: gray;
}


h1 {
    margin-top: 20px;
}

button {
    padding: 8px 12px;
    margin: 10px;
    cursor: pointer;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

.image-entry {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 5px 0;
}

.remove-btn {
    background: none;
    border: none;
    color: red;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}
